extends layout

block content
  h1= title
  button(type="button")
    a(href="/new") Add Message
  ul
    each message in messages
        li= div= message.user 
            div= message.text
            div= message.added
